#heru-slider{

    .background {
        background-image: none;

        @include desktop {
            background-image: url('../../../images/sl-home2.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 60%;
        }

        @media (min-width: 1700px) {
            background-size: 1700px auto; // Maximal bakgrundsbredd på 1700px
            background-position: center; // Valfritt: centrera bilden
        }

    }

    .container{
        @include desktop{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        .hero-content {
            @include desktop {
                width: 50%;
            }

            .headline{
                line-height: 110%
            }
            .ingress{
                margin-top: 1.5rem;
            }

            div{
                .btn{
                    margin-bottom: 3rem;
                }
            }
        }  
    } 
}

#about-us{
    position: relative;
    margin-top: 3rem;
    
    .container{
        @include desktop{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .content{
            @include desktop{
                width: 50%;
            }
        }
        .form-container{
            width: 100%;
            height:400px; 
            background-color: var(--color-primary);
            @include desktop{
            position: absolute;
            right: 150px;
            top: -80px;
            z-index: 1;
            background-color: var(--color-primary);
            width: 30%;
            height:400px; 
            }
        }
    }
}
